/* Reset some default styles to ensure consistent rendering across browsers */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f0e9e9;
    color: #333;
}

img {
    position: absolute;
    top: 0;           /* Position it at the top */
    right: 0;         /* Position it at the right */
    width: 25%;     /* Set a width for the image */
    height: auto;     /* Keep the aspect ratio of the image */
}